{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About TCET - Blogs</h1>
                    <span class="subheading">TCET OPEN-SOURCE</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 id="about-tcet-open-source">About TCET Open Source</h1>
                <p>TCET Open Source is an organization where software is not just a commodity to be bought and sold, but
                    a collaborative effort that brings people together to solve problems and build something greater
                    than themselves<sup><a href="#fn2" id="ref2">2</a></sup><sup><a href="#fn1" id="ref1">1</a></sup>.
                </p>
                <p>We are a group of passionate students and faculty members who believe in the power and potential of
                    Free and Open Source Software (FOSS) to transform software engineering education and development in
                    TCET.</p>
                <p>We work on various projects that aim to enhance the college infrastructure, promote Linux culture,
                    automate tedious tasks, and provide useful tools for students and teachers.</p>
                <p>Some of our projects are:</p>
                <ul>
                    <li><strong>TCET Linux</strong>: An Arch Linux based Linux distribution customized for TCET labs and
                        classrooms. It comes with pre-installed software packages, themes, settings, and apps that make
                        learning and teaching software engineering easier and more fun.</li>
                    <li><strong>Activity Dekho</strong>: A web app that allows you to calculate your AICTE 100 points
                        easily and efficiently. It also helps you create your AICTE diary with all the details of your
                        events and activities.</li>
                    <li><strong>Resume Screener</strong>: A web app that uses artificial intelligence to analyse your
                        resume and give you feedback on how to improve it. It also compares your resume with the
                        requirements of FAANGM companies and gives you tips on how to land your dream job.</li>
                    <li><strong>TNP Website</strong>: The official website of TCET Training and Placement Cell. It
                        showcases the achievements, opportunities, and events of the TNP cell. It also provides a
                        platform for students to register for placements, upload their resumes, and view their status.
                    </li>
                    <li><strong>Fill My Cycle</strong>: A web app that helps you fill cycles in lab evaluation sheet
                        quickly and accurately. It also generates a PDF file of your filled sheet that you can print or
                        share.</li>
                </ul>
                <p>We are always looking for new ideas, challenges, and collaborators. If you are interested in joining
                    us or contributing to our projects, please visit our <a
                        href="https://github.com/tcet-opensource/">GitHub page</a> or contact us at
                    opensource@tcetmumbai.in.</p>
                <p>We hope you enjoy our blog and find it informative and inspiring. Happy coding!😊</p>
                <div id="footnotes">
                    <hr />

                </div>

            </div>
        </div>
    </div>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

{% endblock %}